# always ignore files
*.DS_Store
.idea
.vscode
*.sublime-*

# npm
node_modules
npm-debug.log

# yarn
yarn.lock
yarn-error.log

# misc
_gh_pages
_draft
_drafts
bower_components
vendor
temp
tmp
package-lock.json
demo-directory